.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    margin-top: 90px;
}

.blockquote-custom-icon {
    background-color: #ff3a27 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: 50px;
}

.masthead {
    background-image: url("/assets/images/fondo.jpg");
    background-repeat: repeat;
}

.navbar-brand img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 90px;
}

.btn-circle {
    color: #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 6px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.428571429;
    border: none;
    background-color: #ff3a27 !important;
}

/* Estilo de la pelotita del input range */
input[type="range"]::-webkit-slider-thumb {
    background-color: #202529;
    border-radius: 50%;
}

@media (max-width: 576px) {
    #bpmSlider {
        width: 100%;
    }
}

/* CONTENIDO INTERNO DEL JUMBOTRON */

.bpm-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

.bpmIndicator {
    font-size: 150px;
    display: flex;
    justify-content: center;
}

.bpm-pill {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ff3a27; /* Color de fondo */
    color: #fff; /* Color del texto */
    border-radius: 999px; /* Hace que el borde sea completamente redondeado */
}

#bpm {
}

#startStopButton {
    display: flex; /* Activamos flexbox en el bot칩n */
    align-items: center; /* Alineamos verticalmente los elementos del bot칩n */
}

#incrementButton,
#decrementButton {
    border-color: #202529;
}

.controlButtons {
    display: flex;
    justify-content: space-around;
}

.btn {
    text-align: center !important; /* Centra el texto horizontalmente */
    display: inline-block !important; /* Mantiene el tama침o del bot칩n */
}
/* FIN DEL CONTENIDO INTERNO DEL JUMBOTRON */
