body {
    background: radial-gradient(circle at 50% 10%, #000 40%, #63e 100%);
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    margin-top: 90px;
}

.blockquote-custom-icon {
    background-color: #ffdf31 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: 50px;
}

.blockquote-button {
    background-color: #ff3a27 !important;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.blockquote-playStop {
    top: 23%;
    right: -20px;
    transform: translateY(-50%);
}

.blockquote-tapTempo {
    top: 38%;
    right: -20px;
    transform: translateY(-50%);
}

.blockquote-volume {
    top: 53%;
    right: -20px;
    transform: translateY(-50%);
}

.navbar-brand img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 90px;
}

.btn-circle {
    color: #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 6px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.428571429;
    border: none;
    background-color: #ff3a27 !important;
}

/* Circulos de los beats*/
.beats {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
}

.beat-circle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s linear;
    border-radius: 50%;
    background: #8d8c8c;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .beats1 {
        margin: 2px 0 1px;
    }

    .beat-circle {
        width: 20px;
        height: 20px;
        margin: 0 1px;
    }
}

@media (max-width: 344px) {
    .beats1 {
        margin: 1px 0 1px;
    }

    .beat-circle {
        width: 10px;
        height: 10px;
        margin: 10px 1px;
    }
}

.beat-circle:hover {
    background: #ff3a27;
}

.beatPill {
    display: inline-block;
    padding: 1px 4px; /* Ajusta el relleno según sea necesario */
    border-radius: 6px; /* Ajusta el radio de borde según sea necesario */
    background-color: #ffdf31;
    color: #202529;
    font-size: 0.6em; /* Ajusta el tamaño del texto según sea necesario */
    opacity: 0.9; /* Opacidad del texto para que sea sutil */
    margin-left: 5px; /* Espacio entre el último beat-circle y el texto */
    max-height: 20px; /* Altura máxima de la píldora */
    line-height: 17px; /* Centrar verticalmente el texto */
}

/* Fin circulos de los beats*/

/* Estilo de la pelotita del input range */
input[type="range"]::-webkit-slider-thumb {
    background-color: #202529;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .range-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 70%;
        margin: 0 auto;
    }

    .btn-circle {
        width: 28px; /* Ancho más pequeño para los botones */
        height: 28px; /* Altura más pequeña para los botones */
        font-size: 8px; /* Tamaño de fuente más pequeño para los iconos */
        padding: 0; /* Eliminar el relleno para reducir el espacio */
    }
}

@media (max-width: 767px) {
    .col-auto {
        margin: 5px; /* Ajustar el margen para evitar el amontonamiento de elementos */
    }
}

/* CONTENIDO INTERNO DEL JUMBOTRON */

.bpm-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

.bpmIndicator {
    font-size: 150px;
    display: flex;
    justify-content: center;
}

.bpm-pill {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #ff3a27;
    color: #fff;
    border-radius: 999px;
    margin: -10px 0 -30px;
}

#classification {
    margin: -25px 0 -2px;
    font-size: 20px;
}

#startStopButton {
    display: flex; /* Activamos flexbox en el botón */
    align-items: center; /* Alineamos verticalmente los elementos del botón */
}

#incrementButton,
#decrementButton {
    border-color: #202529;
}

.controlButtons {
    display: flex;
    justify-content: space-around;
}

.btn {
    text-align: center !important; /* Centra el texto horizontalmente */
    display: inline-block !important; /* Mantiene el tamaño del botón */
}
/* FIN DEL CONTENIDO INTERNO DEL JUMBOTRON */

/* ZONA BEAT SELECTOR*/
.beatSelector {
    margin-top: 15px;
    display: flex;
    justify-content: space-between; /* Alinear los elementos al inicio y al final del contenedor */
    align-items: center; /* Centrar verticalmente los elementos */
}
.beatSelector div:first-child {
    margin-right: auto; /* Hacer que el primer div (Latidos) se alinee a la izquierda */
}
.beatSelector button {
    margin-left: 10px; /* Añadir un pequeño margen entre los botones y los números */
    margin-right: 10px; /* Añadir un pequeño margen entre los botones y los números */
}

.btn-beatSelector {
    color: #ffffff;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    padding: 3px 0;
    text-align: center;
    font-size: 10px;
    line-height: 1.428571429;
    border: none;
    background-color: #8d8c8c !important;
}

.btn-beatSelector:hover {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .btn-beatSelector {
        width: 25px; /* Ancho aumentado para dispositivos móviles */
        height: 25px; /* Altura aumentada para dispositivos móviles */
        font-size: 0.5rem; /* Tamaño de fuente aumentado para dispositivos móviles */
    }
}
/* FIN BEAT SELECTOR*/

/* LOGO*/
@media (max-width: 991.98px) {
    .navbar-brand {
        position: absolute;
        left: 35%;
        top: 15%;
        transform: translate(-50%, -50%);
    }
}

/* FIN LOGO */

/* OPCIONES */
.options {
    margin-top: 10px;
}
/* FIN OPCIONES */

/* SLIDER DE VOLUMEN */

/* Cambiar el color de fondo del input range a negro */

.volume-slider {
    display: none;
    position: absolute;
    bottom: 35%;
    right: -10px;
    transform: translateX(50%); /* Corrige el desplazamiento a la izquierda */
    transform: rotate(-90deg); /* Rota el slider verticalmente */
    transform-origin: bottom right; /* Establece el origen de la rotación */
    width: 100px; /* Ancho del slider */
}

.volume-slider.active {
    display: block;
}

/* Cambiar el color de la pelotita del slider a negro */
.volume-slider input[type="range"]::-webkit-slider-thumb {
    background-color: black !important;
}

/* Cambiar el color de la pista deslizante del slider a rojo */
.volume-slider input[type="range"]::-webkit-slider-runnable-track {
    background-color: red;
}

/* FIN SLIDER DE VOLUMEN */

/* Cronómetro */

.stopwatch {
    margin-top: 15px;
    display: flex;
    justify-content: space-between; /* Alinear los elementos al inicio y al final del contenedor */
    align-items: center; /* Centrar verticalmente los elementos */
}

/* Fin cronómetro*


/*TOOGLE*/
.styleToogle {
    position: absolute;
    right: 10px;
    top: 25px;
}

/* FIN TOOGLE*/

/* MODO OSCURO*/
/* Estilos para la versión oscura */
.dark-mode {
    background-color: #222; /* Cambia el color de fondo a negro */
    color: #fff; /* Cambia el color del texto a blanco */
}

.dark-mode .navbar {
    background-color: #000000 !important; /* Cambia el color de fondo de la barra de navegación */
}

.dark-mode .blockquote-custom {
    background-color: #444; /* Cambia el color de fondo de los bloques de citas */
}

.dark-mode .bg-white {
    background-color: #202529 !important;
}

.dark-mode .bpm-container,
.dark-mode .beats {
    color: #fff; /* Cambia el color del texto de los controles de ritmo */
}

.dark-mode .bpm-pill {
    background-color: #555; /* Cambia el color de fondo de la píldora BPM */
}

.dark-mode .beatPill {
    background-color: #ffffff; /* Cambia el color de fondo de la píldora de latidos */
}

.dark-mode .nav-link {
    color: #ffffff;
}

.dark-mode .navbar-toggler .navbar-toggler-icon {
    color: #ffffff !important;
}

.dark-mode input[type="range"]::-webkit-slider-thumb {
    background-color: #ff3a27; /* Cambia el color a tu preferencia */
}

.dark-mode #decrementBeatCount,
.dark-mode #incrementBeatCount {
    color: #ffffff; /* Cambia el color del texto del botón */
    background-color: #e65531 !important; /* Cambia el color de fondo del botón */
    border-color: #ffffff; /* Cambia el color del borde del botón */
}

/* Ocultar el icono de luna por defecto */
.modo-oscuro-icon {
    display: none;
}

/* Mostrar el icono de luna cuando el modo oscuro está activado */
.modo-oscuro .modo-claro-icon {
    display: none;
}

.modo-oscuro .modo-oscuro-icon {
    display: inline-block;
}

/* FIN MODO OSCURO*/

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Color de fondo del footer */
    padding: 20px 0; /* Ajusta el relleno según sea necesario */
    text-align: center; /* Alinea el contenido al centro si es necesario */
}
