body {
    margin: 0;
    padding: 0;
    /* Establecer el gradiente */
    background: radial-gradient(circle at 50% 10%, #000 40%, #63e 100%);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
}

.countdown {
    margin-top: 10px;
}

.volSlider {
    margin-top: 10px;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    margin-top: 90px;
}

.blockquote-custom-icon {
    background-color: #ffdf31 !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    right: 50px;
}

.blockquote-button {
    background-color: #ff3a27 !important;
    color: #ffffff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.blockquote-playStop {
    top: 23%;
    right: -20px;
    transform: translateY(-50%);
}

.blockquote-tapTempo {
    top: 38%;
    right: -20px;
    transform: translateY(-50%);
}

.blockquote-volume {
    top: 53%;
    right: -20px;
    transform: translateY(-50%);
}

.navbar-brand img {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 15px;
    width: 90px;
}

.btn-circle {
    color: #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 6px 0;
    text-align: center;
    font-size: 16px;
    line-height: 1.428571429;
    border: none;
    background-color: #ff3a27 !important;
}

/* Circulos de los beats*/
.beats {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
}

.beat-circle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: 0.2s linear;
    border-radius: 50%;
    background: #8d8c8c;
    margin: 0 5px;
}

@media (max-width: 768px) {
    .beats1 {
        margin: 2px 0 1px;
    }

    .beat-circle {
        width: 20px;
        height: 20px;
        margin: 0 1px;
    }
}

@media (max-width: 344px) {
    .beats1 {
        margin: 1px 0 1px;
    }

    .beat-circle {
        width: 10px;
        height: 10px;
        margin: 10px 1px;
    }
}

.beat-circle:hover {
    background: #ff3a27;
}

.beatPill {
    display: inline-block;
    padding: 1px 4px;
    border-radius: 6px;
    background-color: #ffdf31;
    color: #202529;
    font-size: 0.6em;
    opacity: 0.9;
    margin-left: 5px;
    max-height: 20px;
    line-height: 17px;
}

/* Fin circulos de los beats*/

/* Estilo de la pelotita del input range */
input[type='range']::-webkit-slider-thumb {
    background-color: #202529;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .range-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 70%;
        margin: 0 auto;
    }

    .btn-circle {
        width: 28px;
        height: 28px;
        font-size: 8px;
        padding: 0;
    }
}

@media (max-width: 767px) {
    .col-auto {
        margin: 5px;
    }
}

/* CONTENIDO INTERNO DEL JUMBOTRON */

.bpm-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

.bpmIndicator {
    font-size: 150px;
    display: flex;
    justify-content: center;
}

.firstBeat {
    margin-top: 10px;
}

.bpm-pill {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #562cc9;
    color: #fff;
    border-radius: 999px;
    margin: -10px 0 -30px;
}

#classification {
    margin: -25px 0 -2px;
    font-size: 20px;
}

#startStopButton {
    display: flex;
    align-items: center;
}

#incrementButton,
#decrementButton {
    border-color: #202529;
}

.controlButtons {
    display: flex;
    justify-content: space-around;
}

.btn {
    text-align: center !important;
    display: inline-block !important;
}
/* FIN DEL CONTENIDO INTERNO DEL JUMBOTRON */

/* ZONA BEAT SELECTOR*/
.beatSelector {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.beatSelector div:first-child {
    margin-right: auto;
}
.beatSelector button {
    margin-left: 10px;
    margin-right: 10px;
}

.btn-beatSelector {
    color: #ffffff;
    border-radius: 50%;
    width: 21px;
    height: 21px;
    padding: 3px 0;
    text-align: center;
    font-size: 10px;
    line-height: 1.428571429;
    border: none;
    background-color: #8d8c8c !important;
}

.btn-beatSelector:hover {
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .btn-beatSelector {
        width: 25px;
        height: 25px;
        font-size: 0.5rem;
    }
}
/* FIN BEAT SELECTOR*/

/* LOGO*/
@media (max-width: 991.98px) {
    .navbar-brand {
        position: absolute;
        left: 35%;
        top: 15%;
        transform: translate(-50%, -50%);
    }
}

/* FIN LOGO */

/* OPCIONES */
.options {
    margin-top: 10px;
}
/* FIN OPCIONES */

/* SLIDER DE VOLUMEN */

/* Cambiar el color de fondo del input range a negro */

.volume-slider {
    display: none;
    position: absolute;
    bottom: 35%;
    right: -10px;
    transform: translateX(50%);
    transform: rotate(-90deg);
    transform-origin: bottom right;
    width: 100px;
}

.volume-slider.active {
    display: block;
}

/* Cambiar el color de la pelotita del slider a negro */
.volume-slider input[type='range']::-webkit-slider-thumb {
    background-color: black !important;
}

/* Cambiar el color de la pista deslizante del slider a rojo */
.volume-slider input[type='range']::-webkit-slider-runnable-track {
    background-color: red;
}

/* FIN SLIDER DE VOLUMEN */

/* Cronómetro */

.stopwatch {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Fin cronómetro*


/*TOOGLES*/
.styleToogle {
    position: absolute;
    right: 7px;
    top: 25px;
}

.volumeToogle {
    position: absolute;
    right: 7px;
    top: 50px;
}

.low-volume-icon {
    display: none;
}

/* FIN TOOGLE*/

/* MODO OSCURO*/
/* Estilos para la versión oscura */
.dark-mode {
    background-color: #393939;
    color: #fff;
}

.dark-mode .blockquote-custom {
    background-color: #444;
}

.dark-mode .blockquote-custom-icon {
    color: #000000;
}

.dark-mode .bg-white {
    background-color: #202529 !important;
}

.dark-mode .bpm-container,
.dark-mode .beats {
    color: #fff;
}

.dark-mode .bpm-pill {
    background-color: #555;
}

.dark-mode .beatPill {
    background-color: #ffffff;
}

.dark-mode input[type='range']::-webkit-slider-thumb {
    background-color: #ff3a27;
}

.dark-mode #decrementBeatCount,
.dark-mode #incrementBeatCount {
    color: #ffffff;
    background-color: #e65531 !important;
    border-color: #ffffff;
}

/* Ocultar el icono de luna por defecto */
.modo-oscuro-icon {
    display: none;
}

/* Mostrar el icono de luna cuando el modo oscuro está activado */
.modo-oscuro .modo-claro-icon {
    display: none;
}

.modo-oscuro .modo-oscuro-icon {
    display: inline-block;
}

/* FIN MODO OSCURO*/

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

/* Color de fondo de los toogles */
.form-check-input:checked {
    background-color: #562cc9;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-top-left-radius: 20px;
}

.footer p {
    margin: 0;
}

.footer::before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 50%;
    border-top: 20px solid #333;
    border-right: 20px solid transparent;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #000;
    background-color: #ededed;
}

/* Estilo para los botones */
.btn.btn-outline-secondary {
    border-radius: 0;
}

/* Estilo para el contenedor de los botones */
.input-group-btn {
    display: flex;
    flex-direction: column;
}

/* Estilo para dispositivos móviles */
@media (max-width: 576px) {
    .input-group-btn {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px; /* Ajusta el margen superior para separar los botones */
    }
}

@media (max-width: 576px) {
    /* Estilo para el contenedor principal en dispositivos móviles */
    .input-group {
        border-radius: 20px;
    }

    /* Estilo para el input en dispositivos móviles */
    #timeInput {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-right: 15px !important;
    }

    /* Estilo para los botones en dispositivos móviles */
    .input-group-btn .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
